<div class="content">
    <h3 class="wrapper-color">Edit MicroService</h3>
{{with .microService}}
<form  id="editMicroService" class="form-horizontal wrapper-color" action="/micro-services/{{ .ID }}" method="post">
        <div class="form-group">
            <label for="remark">Remark</label>
                <input id="remark" type="text" class="form-control"  name="remark"  value="{{.Remark}}">
        </div>
        
        <div class="form-group">
            <label for="summary">Summary</label>
                <input id="summary" type="text" class="form-control"  name="summary"  value="{{.Summary}}">
        </div>

        <div class="form-group">
                <button type="submit" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-success edit-back">back</button>
        </div>

</form>
{{end}}
</div>

<script type="text/javascript">

    $(document).ready(function(){

        $('#editMicroService').on('submit', function(e){
            e.preventDefault();

            var data = {};
            
            data.name = $('#name').val();
            data.remark = $('#remark').val();
            data.remoteKey = $('#remoteKey').val();
            data.summary = $('#summary').val();



            $.ajax({
                url: this.action,
                type:"PUT",
                dataType: 'json',
                data:data,
                success:function (data, textStatus, jqXHR) {
                    if ( data.error_code == 0) {
                        toastr.success("success");
                    } else {
                        toastr.error(data.error_message);
                        console.log(data.error_message);
                    }

                },
                error:function (jqXHR, error, errorThrown) {

                }
            });
            return false;
        });

        $(".edit-back").on("click",function () {
            window.location.href = "/micro-services"

        })
    });
</script>




